<head>
  <title>EnConce.cl!</title>
</head>

<body>
  {{> presentacion}}
  {{> footerPage}}
</body>

<template name="presentacion">

    <div id="index-banner" class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container valign">
          <br><br>
          <h1 class="header center grey-text text-darken-2">EnConce.cl</h1>
          <div class="row center">
            <h5 class="header col s12 light grey-text text-darken-2">Tu buscador fisico y que pazaaa!</h5>
          </div>
          <br><br>
        </div>
      </div>
      <div class="parallax"><img src="images/main.jpg"></div>
    </div>

</template>

<template name="footerPage">
  <footer class="page-footer grey darken-2">
    <div class="container">
            <div class="row">
              <div class="col s12 l4 m10">
                <h5 class="white-text">Follow "BlogName"</h5>
                <p class="white-text">Get every new post delivered to your inbox.</p>
           <form>

            <div class="input-field">
              <i class="mdi-communication-email prefix"></i>
              <input id="icon_prefix" type="email" class="validate">
              <label for="icon_prefix">Email</label>
            </div>

           </form>

          <a class="waves-effect waves-light btn">Sign Up
                    <i class="fa fa-sign-in right"></i></a>
       </div><!--col-->


              <div id="categories" class="col l3 offset-l1 s12 m8">
                <h5 class="white-text">Categories</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Category1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Category2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Category3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Category4</a></li>
                </ul>
              </div><!--col-->



              <div class="col l3 s12 m8">
                <h5 class="white-text">Archives</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">March 2015</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">April 2015</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">May 2015</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">June 2015</a></li>
                </ul>
              </div><!--col-->

            </div><!--row-->

            <div class="row">
              <div class="col s12 l3 offset-l5">


              <a href="#"><i style="font-size: 38px;" class="fa fa-facebook-square"></i></a> &nbsp;&nbsp;&nbsp;
              <a href="#"><i style="font-size: 38px;" class="fa fa-twitter-square"></i></a>&nbsp;&nbsp;&nbsp;
              <a href="#"><i style="font-size: 38px;" class="fa fa-google-plus-square"></i></a>
              </div>

            </div><!--row-->
          </div><!--conatiner-->
    <div class="footer-copyright">
      <div class="container">
       <p>Copyright © Your website name</p>
       <br>
      </div>
    </div>
  </footer>
</template>
